/* CSS Document */
.learn {
	font-size:12px;
	min-width:600px;
	width:100%;
	border:5px solid #FF8E00;
	border-collapse:collapse;
}

.learn-progress-row {
	vertical-align:top;	
	text-align:center;
}

.learn-progress-row td{
	height:40px;
	border-bottom:#FF8E00 1px solid;
	vertical-align:middle;		
}

.learn-progress-column-left{
	text-align:left;
	padding-left:10px;
}

.learn-progress-column-right{
	text-align:right;
	padding-right:10px;
}

#coursesProgress1, #coursesProgress2{
	max-width:20px;
	text-align:center;	
}


.learn-instruction-column{
	padding:0px 10px 0px 10px;
	background:rgba(255,220,170,1.00);
	vertical-align:top;
	text-align:left;

}

#instruction-text {
	overflow:hidden;
	min-height:60px;
	max-height:60px;
}

#instruction-text > p {
	margin-top:0px;	
}

#instruction-text:hover{
	min-height:60px;
	max-height:none;
}

.main-tutorialimage{
	position:relative;
	top:10px;
}

#main-tutorialimage-box{
	position:relative;
	margin:0 auto;
	border:1px #FF8E00 solid;
	min-width:768px;
	max-width:768px;
	min-height:576px;
	max-height:576px;
}

#main-tutorialimage-box img{
	min-width:768px;
	max-width:768px;
	height:auto;
}

