/* CSS Document */
.learn td,th{
	border: 0px solid black;
}

.learn {
	width:100%;
	border-collapse:collapse;
}

.learn-select-column,
.learn-explanation-column,
.learn-status-column {
	padding:0px;	
}

.learn-select-column{
	width:275px;
	min-width:250px;
	vertical-align:top;
}

.learn-select-column a {
	text-decoration:none;
	color:inherit;	
}


.learn-select-column li{
	padding:10px 0px 0px 10px;
	list-style-type:none;
	padding-bottom:10px;	
}

.learn-select-column li:hover{
	background-color:rgba(255,213,173,1.00);
	border-radius:10px 0px 0px 10px/10px 0px 0px 10px;
}



.learn-status-column {
	width:20px;	
	vertical-align:top;
}

.learn-explanation-column {
	min-width:350px;
	vertical-align:top;
}

.learn-explanation-column h4 {
	text-align:center;
}

.learn-explanation-column p{
	display:block;
	min-height:292px;
	padding: 10px 10px 10px 20px;	
	background-color:rgba(255,213,173,1.00);
	border-radius:0px 15px 15px 0px / 0px 15px 15px 0px;
}